@import '~@angular/material/theming';
@import 'theme-colors';
@import "custom-components";

@include mat-core();

/** ------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------
-------------  NG TRAINING LIGHT THEME -------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------  */
$light-primary: mat-palette($ng-training-primary);
$light-accent:  mat-palette($ng-training-accent);
$light-warn:  mat-palette($ng-training-warn);
$light-theme:   mat-light-theme($light-primary, $light-accent);
$light:  mat-palette($ng-training-light);
$dark:  mat-palette($ng-training-dark);

// Include the default theme styles.
@include angular-material-theme($light-theme);
@include custom-components($light-theme);


/** ------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------
-------------  NG TRAINING DARK THEME --------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------  */
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.ng-training-dark-theme {
  @include angular-material-theme($dark-theme);
  @include custom-components($dark-theme);
}

/** ------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------
-------------  CUSTOM CLASSES ----------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------  */
.c-primary { color: mat-color($light-primary) !important; }
.c-accent { color: mat-color($light-accent) !important; }
.c-warn { color: mat-color($light-warn) !important; }
.c-light { color: mat-color($light) !important; }
.c-dark { color: mat-color($dark) !important; }
.c-white { color: #fff !important; }

.bg-primary { background-color: mat-color($light-primary) !important; }
.bg-accent { background-color: mat-color($light-accent) !important; }
.bg-warn { background-color: mat-color($light-warn) !important; }
.bg-light { background-color: mat-color($light) !important; }
.bg-dark { background-color: mat-color($dark) !important; }
.bg-white { background-color: #fff !important; }

.themed-shadow-8 {
  @include mat-elevation(8, mat-color($light-primary), 1);
}
