/** ------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------
        ANGULAR MATERIAL CUSTOM COLORS
----------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------- */

$ng-training-primary: (
  50 : #e1e6ec,
  100 : #b3c1cf,
  200 : #8197af,
  300 : #4e6d8e,
  400 : #284e76,
  500 : #022f5e,
  600 : #022a56,
  700 : #01234c,
  800 : #011d42,
  900 : #011231,
  A100 : #698dff,
  A200 : #3666ff,
  A400 : #033fff,
  A700 : #0037e9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

/** palettes */
$ng-training-secondary: (
  50 : #ffefe7,
  100 : #ffd6c2,
  200 : #ffbb99,
  300 : #ffa070,
  400 : #ff8b52,
  500 : #ff7733,
  600 : #ff6f2e,
  700 : #ff6427,
  800 : #ff5a20,
  900 : #ff4714,
  A100 : #ffffff,
  A200 : #fffcfb,
  A400 : #ffd2c8,
  A700 : #ffbdae,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$ng-training-accent: (
  50 : #fee0ef,
  100 : #fcb3d6,
  200 : #fa80bb,
  300 : #f74d9f,
  400 : #f6268b,
  500 : #f40076,
  600 : #f3006e,
  700 : #f10063,
  800 : #ef0059,
  900 : #ec0046,
  A100 : #ffffff,
  A200 : #ffe0e7,
  A400 : #ffadc0,
  A700 : #ff93ac,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$ng-training-light: (
  50 : #fbfcfb,
  100 : #f6f8f6,
  200 : #f0f3f0,
  300 : #eaeeea,
  400 : #e6eae6,
  500 : #e1e6e1,
  600 : #dde3dd,
  700 : #d9dfd9,
  800 : #d5dbd5,
  900 : #cdd5cd,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$ng-training-dark: (
  50 : #e5e4e1,
  100 : #bdbbb5,
  200 : #918e83,
  300 : #656051,
  400 : #443e2c,
  500 : #231c07,
  600 : #1f1906,
  700 : #1a1405,
  800 : #151104,
  900 : #0c0902,
  A100 : #ffd350,
  A200 : #ffc61d,
  A400 : #e9af00,
  A700 : #cf9c00,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



