@mixin m($key: '') {
  // set direction using key parameter
  $direction: '';
  @if($key == 't') {
    $direction: '-top';
  } @else if($key == 'r') {
    $direction: '-right';
  } @else if($key == 'b') {
    $direction: '-bottom';
  } @else if($key == 'l') {
    $direction: '-left';
  }
  // loop to set incremental margins
  $i: 1;
  $sizeInc: 4;
  $size: .0625;
  $sizeCodes: ('xs', 'sm', 'md', 'l', 'xl');
  @each $sizeCode in $sizeCodes {
    @while $i < $sizeInc {
      .m#{$key}-#{$sizeCode}#{$i} {
        margin#{$direction}: #{$size * $i}rem !important;
      }
      $i: $i + 1;
    }
    $size: $size * $sizeInc;
    $i: 1;
  }
  @while $i < $sizeInc {
    .m#{$key}-none {
      margin#{$direction}: 0 !important;
    }
    $i: $i + 1;
  }
}

@include m();
@include m(t);
@include m(r);
@include m(b);
@include m(l);
