label {
  margin-bottom: .3rem;
}
input {
  border: 1px solid #8d949a;
  background-color: #f2edf3;
  border-radius: .17rem;
  height: 1.7rem;
  padding: 0 .6rem;
  box-shadow: 0 0 .13rem #4e6d8e;
  &.ng-touched.ng-invalid {
    border-color: #c15a5a;
    box-shadow: 0 0 .13rem #c15a5a;
  }
}
