<section id="layout">

  <!-- navbar -->
  <section id="navbar" class="d-flex justify-content-end pl-md2 pr-md2" style="background-color: black">
    <!-- TODO: Import styles -->
    <!-- TODO: Boot loader indicator -->
    <div class="d-flex align-items-center">
      <img height="66" src="assets/img/logo_sm.png" alt="logo of thir13en's dashboard">
      <h1 class="ml-md1 mb-none" style="color: aliceblue">Demo dashboard</h1>
    </div>
  </section>

  <!-- toolbar -->
  <!--<mat-toolbar class="bg-dark pr-md2 pl-md2">
    <app-toggle-hamburger></app-toggle-hamburger>
  </mat-toolbar>-->

  <!-- sidenav -->
  <!--<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="sidenavOpened$ | async" class="mat-elevation-z2">

      <!-- menu nav items -->
      <!--<mat-nav-list class="p-none">
        <mat-list-item *ngFor="let item of menuItems" [routerLink]="item.link" routerLinkActive="c-light bg-primary">
          <a matLine>{{ item.text }}</a>
        </mat-list-item>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
      <section>
        <router-outlet></router-outlet>
      </section>
    </mat-sidenav-content>
  </mat-sidenav-container>-->

  <!-- footer -->
  <!--<div class="d-flex justify-content-center align-items-center bg-dark">
    <p class="c-light m-none">santiloopz -- project template</p>
  </div>-->

</section>
