@import "theming/theme-colors";

.c-primary { color: map-get($ng-training-primary, 500); }
.c-accent { color: map-get($ng-training-accent, 500); }
.c-light { color: map-get($ng-training-light, 500) !important; }
.c-dark { color: map-get($ng-training-dark, 500); }

.bg-primary { background-color: map-get($ng-training-primary, 500) !important; }
.bg-accent { background-color: map-get($ng-training-accent, 500); }
.bg-light { background-color: map-get($ng-training-light, 500); }
.bg-dark { background-color: map-get($ng-training-dark, 500) !important; }
