@import "theming/color-palettes";

.c-primary { color: map-get($ng-training-primary) !important; }
.c-accent { color: map-get($ng-training-accent) !important; }
.c-warn { color: map-get($ng-training-warn) !important; }
.c-light { color: map-get($ng-training-light) !important; }
.c-dark { color: map-get($ng-training-dark) !important; }
.c-white { color: #fff !important; }

.bg-primary { background-color: map-get($ng-training-primary) !important; }
.bg-accent { background-color: map-get($ng-training-accent) !important; }
.bg-warn { background-color: map-get($ng-training-warn) !important; }
.bg-light { background-color: map-get($ng-training-light) !important; }
.bg-dark { background-color: map-get($ng-training-dark) !important; }
.bg-white { background-color: #fff !important; }
