@import "theming/color-palettes";

.c-primary { color: map-get($ng-training-primary, 500) !important; }
.c-accent { color: map-get($ng-training-accent, 500) !important; }
.c-warn { color: map-get($ng-training-warn, 500) !important; }
.c-light { color: map-get($ng-training-light, 500) !important; }
.c-dark { color: map-get($ng-training-dark, 500) !important; }
.c-white { color: #fff !important; }

.bg-primary { background-color: map-get($ng-training-primary, 500) !important; }
.bg-accent { background-color: map-get($ng-training-accent, 500) !important; }
.bg-warn { background-color: map-get($ng-training-warn, 500) !important; }
.bg-light { background-color: map-get($ng-training-light, 500) !important; }
.bg-dark { background-color: map-get($ng-training-dark, 500) !important; }
.bg-white { background-color: #fff !important; }
